# Ignore everything
*

# Allow only q1–q4 folders
!js-task-manager-q1/
!js-countdown-q2/
!js-event-emitter-q3/
!js-file-reader-q4/

# Allow contents of q1–q4
!js-task-manager-q1/**
!js-countdown-q2/**
!js-event-emitter-q3/**
!js-file-reader-q4/**